.article {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding: 28px 20px 72px 20px;

  background-color: $alice-blue-light;
  border: 2px solid $deep-sea;
  border-radius: 40px;

  &::before {
    content: "";
    position: absolute;
    bottom: 24px;
    left: 50%;

    width: 76px;
    height: 32px;

    background-image: url("../../img/svg/twig.svg");
    background-repeat: no-repeat;
    transform: translateX(-50%);
  }
}

.article__title {
  display: flex;
  align-items: center;
  align-self: center;
  min-height: 68px;
  margin: 0 0 19px 0;

  font-size: 20px;
  text-align: center;
}

.article__description {
  flex-grow: 1;
  margin: 0;
}

.article__date {
  margin: 30px 0 0 0;

  text-align: end;
}
