.catalog {
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 26px 96px 26px;

  @media (min-width: $vp-768) {
    padding: 100px 26px 142px 26px;
  }

  @media (min-width: $vp-1440) {
    padding: 104px 156px 142px 156px;
  }
}

.catalog__title {
  margin: 0 0 64px 0;

  text-align: center;

  @include title;

  @media (min-width: $vp-768) {
    margin: 0 0 72px 0;
  }

  @media (min-width: $vp-1440) {
    margin: 0 0 90px 0;
  }
}

.catalog__list {
  display: grid;
  justify-content: center;
  align-items: start;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 52px;

  grid-template-columns: repeat(auto-fill, 264px);
  row-gap: 25px;

  @media (min-width: $vp-768) {
    row-gap: 53px;
  }

  @media (min-width: $vp-1440) {
    column-gap: 24px;
  }
}

.catalog__item {
  display: grid;
  overflow: clip;

  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.15);
}

.catalog__image-link {
  display: block;
  overflow: hidden;

  &:hover {
    .catalog__image {
      transform: scale(1.02);
    }
  }

  &:focus-visible {
    .catalog__image {
      transform: scale(1.02);
    }
  }
}

.catalog__image {
  display: block;
  width: 100%;

  transition: transform 0.3s ease;

  object-fit: cover;
}

.catalog__wrapper {
  display: grid;
  padding: 28px 22px 54px 26px;

  background-color: $alice-blue-light;

  justify-items: center;
}

.catalog__title-link {
  display: block;
  margin: 0 0 26px 0;

  font-size: 28px;
  text-align: center;
  color: $deep-sea;

  &:hover {
    color: $lawn-green;
  }

  &:active {
    color: rgba($deep-sea, 0.5);
  }
}

.catalog__price {
  margin: 0;

  font-size: 18px;
}

.catalog__price-wrapper {
  display: flex;
}

.catalog__weight {
  margin-inline-start: 20px;
}

.catalog__button {
  margin: 35px 0 0 0;
  padding: 14px 20px;
}
