.intro {
  padding: 68px 28px 192px 28px;

  background-color: $alice-blue;
  background-image: url("../../img/background/intro-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background/intro-mobile@2x.jpg");
  }

  @media (min-width: $vp-768) {
    padding: 142px 28px 420px 214px;

    background-image: url("../../img/background/intro-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/intro-tablet@2x.jpg");
    }
  }

  @media (min-width: $vp-1440) {
    padding: 172px 28px 249px 214px;

    background-image: url("../../img/background/intro-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/intro-desktop@2x.jpg");
    }
  }
}

.intro__container {
  max-width: 532px;
  margin: 0 auto;

  @media (min-width: $vp-1440) {
    max-width: 550px;
  }
}

.intro__title {
  margin: 0 0 38px 0;

  text-align: center;

  @include title;

  @media (min-width: $vp-768) {
    margin: 0 0 50px 0;

    text-align: start;
  }

  @media (min-width: $vp-1440) {
    margin: 0 0 56px 0;
  }
}

.intro__list {
  display: grid;
  margin: 0 0 55px 0;
  padding: 0 0 0 29px;

  list-style: none;
  font-size: 16px;

  row-gap: 20px;

  @media (min-width: $vp-768) {
    max-width: 525px;
    padding: 0;

    font-size: 18px;
    line-height: 22px;

    row-gap: 24px;
  }

  @media (min-width: $vp-1440) {
    margin: 0 0 59px;
    padding: 0 0 0 23px;
  }
}

.intro__item {
  position: relative;

  padding: 0 0 0 44px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 32px;
    height: 32px;

    background-color: $deep-sea;
    transform: translateY(-50%);

    mask-repeat: no-repeat;
  }

  &--berries::before {
    mask-image: url("../../img/svg/leaf.svg");
  }

  &--freezing::before {
    mask-image: url("../../img/svg/ice.svg");
  }

  &--delivery::before {
    mask-image: url("../../img/svg/delivery.svg");
  }
}

.intro__button {
  margin: 0 auto;

  @media (min-width: $vp-768) {
    margin: 0;
    padding: 17px;
  }

  @media (min-width: $vp-1440) {
    margin: 0 0 0 37px;
  }
}
