.order {
  &::before {
    content: "";

    display: block;
    width: 100%;
    height: 120px;

    background-color: $purple;
    background-image: url("../../img/background/background-form-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/background-form-mobile@2x.jpg");
    }
  }

  @media (min-width: $vp-768) {
    &::before {
      height: 200px;

      background-image: url("../../img/background/background-form-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/background/background-form-tablet@2x.jpg");
      }
    }
  }

  @media (min-width: $vp-1440) {
    &::before {
      background-image: url("../../img/background/background-form-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/background/background-form-desktop@2x.jpg");
      }
    }
  }
}

.order__heading {
  max-width: 532px;
  margin: 0 auto;
  padding: 64px 26px 76px 26px;

  @media (min-width: $vp-768) {
    padding: 100px 26px 78px 26px;
  }

  @media (min-width: $vp-1440) {
    max-width: 570px;
    padding: 100px 26px 90px 26px;
  }
}

.order__title {
  margin: 0 0 32px 0;

  text-align: center;

  @include title;

  @media (min-width: $vp-768) {
    margin: 0 0 47px;

    font-size: 52px;
  }
}

.order__description {
  max-width: 245px;
  margin: 0 auto;

  font-size: 16px;
  text-align: center;

  @media (min-width: $vp-768) {
    max-width: 550px;

    font-size: 18px;
    line-height: 22px;
  }
}

// Form
//------------------

.order__form {
  max-width: 676px;
  margin: 0 auto;
  padding: 50px 26px 121px 26px;

  @media (min-width: $vp-768) {
    padding: 72px 26px 144px 26px;
  }

  @media (min-width: $vp-1440) {
    max-width: 840px;
    padding: 60px 0 144px 0;
  }
}

.order__wrapper {
  display: grid;

  row-gap: 32px;

  @media (min-width: $vp-768) {
    row-gap: 0;
  }
}

.order__fieldset {
  margin: 0;
  padding: 0;

  border: none;

  @media (min-width: $vp-768) {
    &--option {
      margin-left: 45px;

      &:nth-child(1) {
        margin-bottom: 52px;
      }

      &:nth-child(2) {
        margin-bottom: 48px;
      }

      &:nth-child(3) {
        margin-bottom: 46px;
      }
    }

    &--contact {
      .order__legend {
        text-align: center;
      }
    }
  }

  @media (min-width: $vp-1440) {
    margin-left: 49px;

    &--option {
      &:nth-child(1) {
        margin-bottom: 54px;
      }

      &:nth-child(2) {
        margin-bottom: 46px;
      }

      &:nth-child(3) {
        margin-bottom: 46px;
      }
    }

    &--contact {
      max-width: 624px;

      .order__legend {
        text-align: start;
      }
    }
  }
}

.order__legend {
  margin: 0 0 32px 0;
  padding: 0;

  font-size: 20px;
  color: $deep-sea;

  @media (min-width: $vp-768) {
    margin: 0 0 40px 0;

    font-size: 28px;
  }

  @media (min-width: $vp-1440) {
    margin: 0 0 50px 0;
  }
}

// Fieldset list
//------------------

.order__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 16px;

  grid-auto-flow: dense;

  &--berries {
    text-transform: lowercase;
    column-gap: 20px;

    grid-template-columns: repeat(2, 124px);
    row-gap: 32px;

    .order__item:nth-child(-n+6) {
      grid-column: 1 / 2;
    }

    .order__item:nth-child(n+7):nth-child(-n+10) {
      grid-column: 2 / -1;
    }
  }

  &--type {
    text-transform: lowercase;
    column-gap: 20px;

    row-gap: 23px;
  }

  &--delivery {
    row-gap: 32px;

    .order__input {
      align-self: center;
    }
  }

  &--contact {
    line-height: 20px;

    row-gap: 36px;
  }

  @media (min-width: $vp-768) {
    font-size: 18px;
    line-height: 22px;

    &--berries {
      column-gap: 50px;

      grid-template-columns: repeat(3, 134px);
      row-gap: 24px;

      .order__item:nth-child(n+5):nth-child(-n+8) {
        grid-column: 2 / 3;
      }

      .order__item:nth-child(n+9):nth-child(-n+10) {
        grid-column: 3 / -1;
      }
    }

    &--type {
      column-gap: 43px;

      grid-template-columns: repeat(2, 235px);

      .order__item:nth-child(2) {
        grid-column: 1 / 2;
      }
    }

    &--delivery {
      column-gap: 24px;

      grid-template-columns: 205px 255px;
    }

    &--contact {
      font-size: 16px;
      column-gap: 24px;

      grid-template-columns: repeat(2, 1fr);
      row-gap: 37px;

      .order__item:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }

      .order__item:nth-child(3) {
        grid-column: 2 / -1;
        grid-row: 2 / 3;
      }

      .order__item:nth-child(4) {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
      }

      .order__item:nth-child(5) {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
      }
    }
  }

  @media (min-width: $vp-1440) {
    &--berries {
      column-gap: 49px;

      grid-template-columns: repeat(5, minmax(115px, max-content));

      .order__item:nth-child(n+3):nth-child(-n+4) {
        grid-column: 2 / 3;
      }

      .order__item:nth-child(n+5):nth-child(-n+6) {
        grid-column: 3 / 4;
      }

      .order__item:nth-child(n+7):nth-child(-n+8) {
        grid-column: 4 / 5;
      }

      .order__item:nth-child(n+9):nth-child(-n+10) {
        grid-column: 5 / 6;
      }
    }

    &--type {
      column-gap: 49px;

      grid-template-columns: repeat(3, minmax(157px, max-content));

      .order__item:nth-child(2) {
        grid-column: 2 / 3;
      }
    }

    &--delivery {
      column-gap: 48px;

      grid-template-columns: 251px 354px;
    }
  }
}

// Radio and checkbox
//------------------

.order__control {
  display: flex;
  align-items: center;

  column-gap: 12px;

  @media (min-width: $vp-768) {
    &--indent {
      column-gap: 24px;
    }
  }

  @media (min-width: $vp-1440) {
    &--indent {
      column-gap: 12px;
    }
  }
}

.order__input {
  position: relative;

  align-self: start;
  min-width: 24px;
  height: 24px;
  margin: 0;

  color: $deep-sea;

  border: 0;
  outline: none;
  cursor: pointer;

  appearance: none;

  & + .order__value {
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: 2px solid currentColor;
    border-radius: 4px;
  }

  &[type="radio"]::after {
    border-radius: 50%;
  }

  &[type="radio"]:checked {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 9px;
      height: 9px;

      background-color: currentColor;
      border-radius: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &[type="checkbox"]:checked {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 14px;
      height: 11px;

      background-color: currentColor;
      transform: translateX(-50%) translateY(-50%);

      mask-image: url("../../img/svg/tick.svg");
      mask-repeat: no-repeat;
    }
  }

  &:hover {
    color: $lawn-green;
  }

  &:disabled {
    color: rgba($edward, 0.7);

    cursor: default;

    & + .order__value {
      cursor: default;
    }
  }

  &:focus-visible {
    color: $lawn-green;
  }
}

.order__value {
  max-width: 188px;

  @media (min-width: $vp-768) {
    max-width: 219px;
  }

  @media (min-width: $vp-1440) {
    max-width: 318px;
  }
}

.order__asterisk {
  color: $light-coral;
}

// Input type text
//---------------------

.order__contact {
  display: grid;

  row-gap: 3px;

  .order__value {
    margin: 0 12px;

    line-height: 20px;
  }

  .order__value--small {
    margin: 0 22px 3px 22px;

    font-size: 14px;
    line-height: normal;
  }

  @media (min-width: $vp-768) {
    .order__value--small {
      margin: 0 12px 0 12px;

      font-size: 16px;
      line-height: 20px;
    }
  }
}

.order__area {
  width: 100%;
  padding: 16px 12px;

  font-size: 16px;
  line-height: 20px;
  font-family: $ff-raleway;

  background-color: $transparent;
  border: 1px solid $deep-sea;
  border-radius: 20px;

  resize: none;

  &--address {
    min-height: 88px;
  }

  &--comment {
    min-height: 124px;
  }

  &:hover {
    border-color: $lawn-green;
  }

  &:focus-visible {
    border-color: $lawn-green;
    outline: none;
  }

  &:disabled {
    border-color: rgba($edward, 0.7);
  }

  &:invalid:not(:placeholder-shown) {
    border-color: $light-coral;
  }

  &::placeholder {
    color: rgba($edward, 0.7);

    opacity: 1;
  }

  &::-webkit-contacts-auto-fill-button {
    position: absolute;
    left: 0;

    display: none;

    visibility: hidden;

    pointer-events: none;
  }

  @media (min-width: $vp-768) {
    padding: 15px 12px;

    &--address {
      min-height: 52px;
    }

    &--comment {
      min-height: 144px;
    }
  }
}

// Button
//-------------------

.order__button {
  margin: 32px auto 0 auto;

  @media (min-width: $vp-768) {
    margin: 41px auto 0 auto;
  }

  @media (min-width: $vp-1440) {
    margin: 48px auto 0 auto;
  }
}
