@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Comfortaa";

  font-display: swap;
  src: url("../fonts/comfortaa/comfortaa.woff2") format("woff2"),
    url("../fonts/comfortaa/comfortaa.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Raleway";

  font-display: swap;
  src: url("../fonts/raleway/raleway-regular.woff2") format("woff2"),
    url("../fonts/raleway/raleway-regular.woff") format("woff");
}
