*,
*::before,
*::after {
  box-sizing: border-box;

  -webkit-tap-highlight-color: $transparent;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  font-family: $ff-raleway;

  background-color: $alice-blue-light;
}

a {
  text-decoration: none;

  &:focus-visible {
    outline: 3px dotted $deep-sea;
    outline-offset: 2px;
  }
}
